body {
  margin: 0;
  text-align: center;
  /*font-family: "Patua One", cursive;*/
  font-family: "Merienda", cursive;
  background-color: #d7e4e4;
}
h1 {
  margin-top: 0;
}
.top-container {
  background-color: rgb(27, 211, 224);
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px 0;
}
.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.uppercloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.vipul {
  border-radius: 50%;
  height: 200px;
  position: relative;
  top: 10px;
}

.web2 {
  height: 180px;
  float: left;
  margin-right: 30px;
}

.python2 {
  height: 200px;
  float: right;
  align-self: auto;
}

.hi {
  font-family: "Merienda", cursive;
}

.hi1 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: 300;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 150px auto 100px auto;
  line-height: 2;
  text-align: left;
}

p {
  line-height: 2;
}

hr {
  border: dotted rgb(6, 214, 251) 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  font-family: "Merienda", cursive;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ed);
  text-decoration: none;
}

.p1 {
  margin: 30px auto 50px auto;
}

a:hover {
  color: #eaf6f6;
}
a {
  color: #11999e;
  margin: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.cr {
  color: #eafcfc;
  font-size: 0.87rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 0 20px 0;
}
